<div class="bookmark-card">
  <img src=<%= bookmark.recipe.image %> alt=<%= bookmark.recipe.title %>>
  <div class="card-content">
    <h2><%= bookmark.recipe.title %></h2>
    <div class="card-details">
      <p class="card-description"><%= bookmark.recipe.description.truncate(100) %></p>
      <div class="rating_bookmark" data-controller="toggle">
        <p>4.2 ⭐️</p>
        <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete , turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
