<div class="bookmark-card">
  <%= cl_image_tag bookmark.recipe.photo.key %>
  <div class="card-content">
    <div class="d-flex justify-content-between w-100 align-items-center">
     <% if bookmark.recipe.icons_count == 0 %>
        <h2><%= bookmark.recipe.title.capitalize.truncate(23) %></h2>
      <% elsif bookmark.recipe.icons_count == 1 %>
        <h2><%= bookmark.recipe.title.capitalize.truncate(18) %></h2>
      <% elsif bookmark.recipe.icons_count == 2 %>
        <h2><%= bookmark.recipe.title.capitalize.truncate(15) %></h2>
      <% elsif bookmark.recipe.icons_count == 3 %>
        <h2><%= bookmark.recipe.title.capitalize.truncate(12) %></h2>
      <% else %>
        <h2><%= bookmark.recipe.title.capitalize.truncate(9) %></h2>
      <% end %>
    <div class="dietary-type text-end mb-2">
        <% if bookmark.recipe.vegan? %>
          <%= image_tag "vegan1.png", class:"diet-icons" %>
        <% end %>
        <% if bookmark.recipe.vegetarian? %>
          <%= image_tag "vegetarian1.png", class:"diet-icons" %>
        <% end %>
        <% if bookmark.recipe.gluten_free? %>
          <%= image_tag "gluten-free1.png", class:"diet-icons" %>
        <% end %>
        <% if bookmark.recipe.dairy_free? %>
          <%= image_tag "dairy1.png", class:"diet-icons" %>
        <% end %>
      </div>
    </div>
    <div class="card-details">
      <p class="card-description"><%= bookmark.recipe.description.truncate(100) %></p>
      <div class="rating_bookmark">
        <p class="rating">
          <%  bookmark.recipe.average_rating.to_i.times do  %>
            <img class="star" src="https://img.icons8.com/fluency/20/star--v1.png" alt="star--v1"/>
          <% end %>
          <% if  bookmark.recipe.average_rating - bookmark.recipe.average_rating.to_i > 0 %>
            <img class="star" src="https://img.icons8.com/color/20/star-half-empty.png" alt="star-half-empty"/>
          <% end %>
        </p>
        <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete , turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-bookmark"></i>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
