<div class="other-recipes-cards">
    <h5>Users' posts on this recipe </h5>
      <div class="cards d-flex justify-content-start">

        <% unless recipe.posts.empty? %>
          <%  recipe.posts.each do |post| %>
            <%# anchor tag added so that clicking on the post in show page takes you to tha specific post in posts index page %>
            <%= link_to posts_path(post, anchor: "post_#{post.id}") do %>
              <div class="card-category-post d-flex flex-column align-items-start col-sm-4 col-lg-4">
                <%= cl_image_tag post.photo.key, :class => "responsive" %>
                <%# post user avatar %>
                  <% if post.user.photo.key? %>
                      <%= cl_image_tag post.user.photo.key, class: "post-user-avatar"%>
                  <% else %>
                      <%= image_tag "post_user.png", class: "post-user-avatar" %>
                  <% end %>

              <div class="overflow-auto mt-3 text-start">
                <p><%= post.title %></p>
              </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p><%= "No User posts available to display." %></p>
        <% end %>

      </div>
    </div>
