<div class="show-container container">
<%# added icon link to post form %>
  <div class="d-flex">
    <div class="col-sm-6 col-lg-6">
      <div data-controller="redirect" data-action="click->redirect#redirect" class="back-link">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    </div>
  </div>

    <div class="recipe-info-card row">
      <div class="d-flex align-items-center">
        <div class="flex-grow-1"><h1><%= @recipe.title %></h1></div>
        <div class="comment-icon pe-2">
          <%= link_to new_recipe_post_path(@recipe), :class => "back-link" do  %>
            <i class="fa-regular fa-comment"></i>
          <% end %>
        </div>
        <div class="green-bookmark">
          <%= render 'icon_btn',  recipe: @recipe %>
        </div>
      </div>

      <div>
          <p>
            <%  @recipe.average_rating.to_i.times do  %>
              <img width="20" height="20" class="star" src="https://img.icons8.com/fluency/20/star--v1.png" alt="star--v1"/>
            <% end %>
            <% if  @recipe.average_rating - @recipe.average_rating.to_i > 0 %>
              <img width="20" height="20" class="star" src="https://img.icons8.com/color/20/star-half-empty.png" alt="star-half-empty"/>
            <% end %>
          </p>
      </div>
        <%# moved create comment icon next to bookmark icon %>

      <p><%= cl_image_tag @recipe.photo.key, :class => "responsive" %></p>
    </div>

    <%# dietary type %>
    <div class="dietary-type text-end mb-2">
      <% if @recipe.vegan? %>
        <%= image_tag("vegan.png", width: 25, height: 25) %>
      <% end %>
      <% if @recipe.vegetarian? %>
        <%= image_tag("vegetarian.png", width: 20, height: 20) %>
      <% end %>
      <% if @recipe.gluten_free? %>
        <%= image_tag("gluten-free.png", width: 25, height: 25) %>
      <% end %>
      <% if @recipe.dairy_free? %>
        <%= image_tag("dairy.png", width: 25, height: 25) %>
      <% end %>
    </div>

    <%# Recipe description as drop down, saved in partial %>
    <div class="recipe-key-details-card d-flex justify-content-between">
        <div class="col-sm-6 col-lg-6">
          <p class="left-align"> Preparation time: </p>
          <p class="fw-bold" > <%=@recipe.preptime %> mins </p>
          <br>
          <br>
          <p class="left-align"> Servings: </p>
          <p class="fw-bold"> <%=@recipe.servings %>
            <i class="fa-solid fa-people-group ps-1"></i>
          </p>
        </div>
        <div class="col-sm-6 col-lg-6 text-end">
          <p> Cooking time: </p>
          <p class="fw-bold"> <%=@recipe.cooktime %> mins </p>
        </div>
    </div>

    <%# accordion bootstrap for instruction. instruction not listed yet. still a string %>
    <div class="accordion" id="accordion">

      <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Recipe Description
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
          <div class="accordion-body">
            <p class="accordion-text"> <%= @recipe.description %> </p>
          </div>
        </div>
      </div>

      <div class="accordion-item mb-3" data-controller="copy-ingredients">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Ingredients
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
          <div class="accordion-body">
            <button class="btn btn-primary copy_ingredients_button" data-copy-ingredients-target="copyButton" data-action="click->copy-ingredients#ingredientsList">Copy ingredients list</button>
            <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
              <p data-copy-ingredients-target="ingredient"><%= recipe_ingredient.ingredient.name.capitalize %>: <%= recipe_ingredient.quantity %> <%= recipe_ingredient.units %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Cooking Instructions
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
          <div class="accordion-body">
            <% @recipe.instructions.split("~").each do |step| %>
              <p><%= step %></p>
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <%= render "posts", recipe: @recipe %>

    <div class="other-recipes-cards">
    <h5>Other Recipes you might enjoy </h5>
      <div class="cards d-flex justify-content-between">

        <%= link_to recipe_path(@other_recipes.first) do %>
          <div class="card-category d-flex flex-column col-sm-4 col-lg-4">
            <%= cl_image_tag @other_recipes.first.photo.key, :class => "responsive" %>
            <div><%= @other_recipes.first.title.truncate(16) %></div>
          </div>
        <% end %>

        <%= link_to recipe_path(@other_recipes.second) do %>
          <div class="card-category d-flex flex-column col-sm-4 col-lg-4">
            <%= cl_image_tag @other_recipes.second.photo.key, :class => "responsive" %>
            <div><%= @other_recipes.second.title.truncate(16) %></div>
          </div>
        <% end %>

        <%= link_to recipe_path(@other_recipes.third) do %>
          <div class="card-category d-flex flex-column col-sm-4 col-lg-4">
            <%= cl_image_tag @other_recipes.third.photo.key, :class => "responsive" %>
            <div><%= @other_recipes.third.title.truncate(16) %></div>
          </div>
        <% end %>
      </div>
    </div>
</div>
