<div data-controller="search-form">
  <%= form_with url: recipes_path, method: :get, class: "d-flex flex-column" do |f| %>
    <%= label_tag("Ingredients") %>
    <p class="mb-3">TBD</p>
    <div class="d-flex flex-column" data-search-form-target="ingredientInput">
      <div class="d-flex flex-column" data-action="change->search-form#revealButtonTwo">
        <%= f.select :ingredient1, ingredients.order(:name).map { |ingredient| [ingredient.name, ingredient.id]}, prompt: "Choose your ingredient" %>
      </div>
      <div class="d-flex flex-column d-none" data-search-form-target="ingredientFormTwo" data-action="change->search-form#revealButtonThree">
        <%= f.select :ingredient2, ingredients.order(:name).map { |ingredient| [ingredient.name, ingredient.id]}, prompt: "Choose your ingredient" %>
      </div>
      <div class="d-flex flex-column d-none" data-search-form-target="ingredientFormThree">
        <%= f.select :ingredient3, ingredients.order(:name).map { |ingredient| [ingredient.name, ingredient.id]}, prompt: "Choose your ingredient" %>
      </div>
    </div>
    <p class="btn btn-secondary d-none" data-action="click->search-form#addIngredientTwo" data-search-form-target="ingredientButtonTwo">Add another ingredient</p>
    <p class="btn btn-secondary d-none" data-action="click->search-form#addIngredientThree" data-search-form-target="ingredientButtonThree">Add another ingredient</p>
    <%= label_tag("Max Cooktime") %>
    <input type="range" id="cooktime" name="cooktime" min="0" max="100" data-search-form-target="cooktimeInput" data-action="input->search-form#displayCooktime">
    <p data-search-form-target="cooktimeValue" class="mb-3"></p>
    <%= label_tag("Servings") %>
    <input type="range" id="servings" name="servings" min="1" max="8" data-search-form-target="servingsInput" data-action="input->search-form#displayServings">
    <p data-search-form-target="servingsValue"></p>
    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>
</div>
