<div>
  <div class="landing-page-content">
      <h1><strong>Embarked on a culinary journey, minimizing waste with diverse recipes using your home ingredients.</strong></h1>
      <div class="btn-home">
      <%= link_to "Build Your Recipe", search_path, class: "btn btn-primary home-search-btn" %></div>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.salzburgglobal.org/uploads/pics/dan-gold-4_jhDO54BYg-unsplash-1200x675.jpg);">
      </div>
      <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hips.hearstapps.com/hmg-prod/images/table-filled-with-large-variety-of-food-shot-from-royalty-free-image-1659038707.jpg?crop=1xw:0.84335xh;center,top&resize=1200:*);">
        <%# food image:size 1200x675 - Google Search %>
      </div>
    </div>
  </div>
</div>
<div class="below-banner-content">
  <div class = "how-it-works">
    <div class="step-card">
      <h2>Enter Your Ingredients</h2>
      <%= image_tag "ingredients.png" %>
      <p>Input ingredients you have on hand and fine-tune your search with dietary preferences or cooktime</p>
    </div>
    <div class="step-card">
      <h2>Find Recipes</h2>
      <%= image_tag "recipes.png" %>
      <p>Discover matching recipes and bookmark your favourites</p>
    </div>
    <div class="step-card">
      <h2>Share Your Experience</h2>
      <%= image_tag "reviews.png" %>
      <p>Post reviews and photos of your culinary creations on our community feed</p>
    </div>
  </div>
  <div class="community-page-render">
    <%= render "posts/index_post_card", post:@post %>
  </div>
</div>
