<div class="container mt-3">
  <h1><%= @recipe.title %></h1>
  <h5 class="pt-2 pb-2">Tell your food story, create a post about your take on the recipe
now!</h5>
  <%= simple_form_for(@post) do |f| %>
    <%= f.input :title, label: 'Your post title!' %>
    <%= f.input :rating,
      collection: [[' ⭐️', '1', { class: "one-star" }],
      [' ⭐️⭐️', '2', { class: "two-stars" }],
      [" ⭐️⭐️⭐️", '3', { class:"three-stars" } ],
      [" ⭐️⭐️⭐️⭐️⭐️", '4', { class:"four-stars" } ],
      [" ⭐️⭐️⭐️⭐️⭐️", '5', { class:"five-stars" } ]] %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>
