<!DOCTYPE html>
<html>
  <head>
    <title>Wastenot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon_logo.png' %>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <%# for star rating %>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">

    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
  </head>

  <body class="<%= params[:controller]%>">
    <%= render "shared/header" %>
    <%= render "shared/flashes" %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render "shared/navbar" %>
  </body>
</html>
